body{
  --main-color: #0062ff;
  --font-color: #424242;
  /* --bg-color: #ffffff; */
  --bg-color: #ffffff;
  --heading-color: #000a19;
  --hero-heading-color: #003b99;
  --white-color: #ffffff;
  --para-color: #504e4d;
  --bnt-hover-bg-color: #0458C3;
  /* --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  --hero-gradient: linear-gradient(to top right, #3d86fa, #4484fb, #679eff, #b3d2ff, #ebf3fe);
  --btn-box-shadow:rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  --footer-bg-color: #040d12;
  --menu: black;
  --menu-bg:rgba( 255, 255, 255, 0.3 );
  --nav-box-shadow: 0px 1px 10px #999;
  --course-div-hover: white;
  --input-bg:#e2e2e2;
  --active: #0062ff;
  --supporting-color: #ebf3fe;
  --video-text-color:black;
  --video-hover:#0458C3;
}

[data-theme="dark"]{
  --main-color: white;
  --para-color:white;
  --bg-color:black;
  --hero-gradient:black;
  --hero-heading-color:white; 
  --menu:white;
  --menu-bg:rgba(255, 255, 255, 0);
  --heading-color:white;
  --nav-box-shadow: 0px 1px 10px #0051ff;
  --course-div-hover:linear-gradient(to top right, #0575e6, #021b79);
  --input-bg: #181A1B;
  --active: #0062ff;
  --bnt-hover-bg-color: #0458C3;
  --video-text-color:white;
  --video-hover:#0458C3;
}

.courses-video-section{
  background: var(--bg-color);
  padding-top: 10px;
}
.heading {
  color: var(--para-color);
  font-size: 40px;
  text-align: center;
  padding: 10px;
}

.container-video {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
  align-items: flex-start;
  padding: 5px 5%;
}

.container-video .main-video {
  background: var(--input-bg);
  border-radius: 5px;
  padding: 10px;
  box-shadow: var(--nav-box-shadow);
}

.container-video .main-video video {
  width: 100%;
  border-radius: 5px;
}

.container-video .main-video .video-title {
  color: var(--video-text-color);
  font-size: 23px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.container-video .video-list {
  background: var(--bg-color);
  border-radius: 5px;
  height: 595px;
  overflow-y: scroll;
  box-shadow: var(--nav-box-shadow);
}

.container-video .video-list::-webkit-scrollbar {
  width: 7px;
}

.container-video .video-list::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 50px;
}

.container-video .video-list::-webkit-scrollbar-thumb {
  background: #666;
}

.container-video .video-list .vid video {
  width: 100px;
  border-radius: 5px;
}

.container-video .video-list .vid {
  display: flex;
  align-items: center;
  gap: 15px;
  background: var(--input-bg);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, .1);
  cursor: pointer;
}

.container-video .video-list .vid:hover {
  background: var(--video-hover);
}

.container-video .video-list .vid.active {
  background: #0458C3;
}

.container-video .video-list .vid.active .title {
  color: #fff;
}

.container-video .video-list .vid .title {
  color: var(--video-text-color);
  font-size: 17px;
}

@media (max-width: 991px) {
  .container-video {
      grid-template-columns: 1.5fr 1fr;
      padding: 10px;
  }
}

@media (max-width: 768px) {
  .container-video {
      grid-template-columns: 1fr;
  }
}

/* Additional styling */
.heading {
  width: fit-content;
  text-align: center;
  margin-block: 20px;
}

.video {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio */
  overflow: hidden;
  margin-bottom: 10px;
  display: flex;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.vid .title {
  margin-top: 5px;
  font-size: 16px;
}

@media screen and (max-width: 768px) {
  .container-video {
      flex-direction: column; /* Change to a single column layout on smaller screens */
      align-items: center;
  }

  .main-video,
  .video-list {
      flex: 1 1 100%; /* Make both sections take full width on smaller screens */
      margin-right: 0;
  }

}

.btn-with-head{
  max-width: 142rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.back-btn{
  width: 150px;
  height: 60px;
  border: 3px solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1.2em;
  font-weight: 550;
  color: #0062FF;  
}

.back-btn:hover{
  background: #315cfd;
  font-size: 1.5em;
  color: white;

}

.container-video .video-list .vid.done{
  background: #0458C3;
}
.container-video .video-list .vid.done h3{
  color: white;
}

.progress-div {
  width: 100%;
  text-align: center;

}

.progress-bar {
  background-color: #e0e0e0;
  border-radius: 5px;
  height: 20px;
  width: 100%;
  margin-bottom: 10px;
  position: relative;
}

.progress-fill {
  background-color: #007bff;
  height: 100%;
  width: 0;
  border-radius: 5px;
  transition: width 0.3s ease-in-out;
  -webkit-transition: width 0.3s ease-in-out;
  -moz-transition: width 0.3s ease-in-out;
  -ms-transition: width 0.3s ease-in-out;
  -o-transition: width 0.3s ease-in-out;
}

.progress-div h3 {
  margin: 0;
}
/* From Uiverse.io by barisdogansutcu */ 
button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
  padding: 0 20px;
  font-size: 18px;
  text-transform: uppercase;
  border: 0;
  box-shadow: hsl(210deg 87% 36%) 0px 7px 0px 0px;
  background-color: hsl(210deg 100% 44%);
  border-radius: 12px;
  overflow: hidden;
  transition: 31ms cubic-bezier(.5, .7, .4, 1);
 }
 
 button:before {
  content: attr(alt);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  font-size: 15px;
  font-weight: bold;
  color: white;
  letter-spacing: 4px;
  opacity: 1;
 }
 
 button:active {
  box-shadow: none;
  transform: translateY(7px);
  transition: 35ms cubic-bezier(.5, .7, .4, 1);
 }
 
 button:hover:before {
  transition: all .0s;
  transform: translateY(100%);
  opacity: 0;
 }
 
 button i {
  color: white;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 4px;
  font-style: normal;
  transition: all 2s ease;
  transform: translateY(-20px);
  opacity: 0;
 }
 
 button:hover i {
  transition: all .2s ease;
  transform: translateY(0px);
  opacity: 1;
 }
 
 button:hover i:nth-child(1) {
  transition-delay: 0.045s;
 }
 
 button:hover i:nth-child(2) {
  transition-delay: calc(0.045s * 3);
 }
 
 button:hover i:nth-child(3) {
  transition-delay: calc(0.045s * 4);
 }
 
 button:hover i:nth-child(4) {
  transition-delay: calc(0.045s * 5);
 }
 
 button:hover i:nth-child(6) {
  transition-delay: calc(0.045s * 6);
 }
 
 button:hover i:nth-child(7) {
  transition-delay: calc(0.045s * 7);
 }
 
 button:hover i:nth-child(8) {
  transition-delay: calc(0.045s * 8);
 }
 
 button:hover i:nth-child(9) {
  transition-delay: calc(0.045s * 9);
 }
 
 button:hover i:nth-child(10) {
  transition-delay: calc(0.045s * 10);
 }

 .vid.done{
  background-color: var(--active);
}
.progress-div{
  width: 100%;
}
.progress-div h3{
  color: var(--para-color);
  font-size: 20px;
  
}